/* My Styles */
:root {
    --zinc900: #18181b;
    --white: #ffffff;
  }
  
body{
    background-color: var(--zinc900);
/* Center the content and constrain to 75% of the screen   */
    max-width: 75vw;
    margin: auto;
}
  
.heading{
    color: var(--white);
    font-family: 'RedHatDisplay-Variable', sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin: 50;
    padding: 0;
}

.gallery {
    column-count: 4;
    margin: 1.5em;
}
    
figure {
    position: relative;
    border-radius: 1.5em;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    background: rgb(76, 29, 149);
    background: linear-gradient(
      -45deg,
      rgba(76, 29, 149, 1) 0%,
      rgba(30, 64, 175, 1) 35%,
      rgba(162, 28, 175, 1) 100%
    );
  }
  
img {
    max-width: 100%;
    border-radius: 1.5em;
    vertical-align: bottom;
}

figcaption, p{
    font-family: 'RedHatDisplay-Variable', sans-serif;
    font-size: 1em;
    position: absolute;
    width: 100%;
    top: 30%;
    /* Hide until hover */
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* hover */
img:hover {
    opacity: 0.5;
  }

img:hover ~ figcaption {
    color: white;
    visibility: visible;
}

img:hover ~ figcaption p {
    visibility: visible;
}   

@media only screen and (min-width: 321px) and (max-width: 750px){
    .gallery {
        column-count: 1;
    }
}
@media only screen and (min-width: 751px) and (max-width: 1000px){
    .gallery {
        column-count: 2;
    }
}
@media only screen and (min-width: 1001px) {
    .gallery {
        column-count: 4;
    }
}